#root{
  transition:0.3s ease;
}

.Template {
  width: 362px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
}

.title{
  background: #ff7f50;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  background: white;
}

.Insert{
  display: flex;
  background: #495057;
}

input{
  background: none;
  outline: none;
  border: none;
  padding: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.5;
  color: white;
  flex: 1;
}

input::placeholder{
  color: #dee2e6;
}

button {
  background: none;
  outline: none;
  border: none;
  background: #868e96;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: .1s background ease-in;
}

button:hover{
  background: #adb5bd;
}

.List{
  min-height: 320px;
  max-height: 513px;
  overflow-y: auto;
}

.ItemList{
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}

.ItemList:nth-child(even){
  background: rgba(182, 182, 182, 0.15);
}

.checkbox{
  cursor: pointer; 
  flex: 1;
  display: flex;
  align-items: center;
}

.checkbox svg{
  font-size: 1rem;
}

.checkbox .text {
  margin-left: 0.5rem;
  flex: 1;
}

.checkbox.checked svg{
  color: #f1773f;
}

.checkbox.checked .text{
  color: #adb5bd;
  text-decoration: line-through;
}

.remove{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #ff2828;
}